/*General Setup*/
html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: black;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}


/*Typography - Font Style*/
@font-face {
    font-family: curseOfTheZombie;
    src: url(fonts/Curse_of_the_Zombie.ttf);
}

h1, h2 {
    font-family: curseOfTheZombie;
    color: black;
}

@font-face {
    font-family: whoAsksSatan;
    src: url(fonts/who\ asks\ satan.ttf);
}

li {
    font-family: whoAsksSatan;
    color: black;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
}


/*Text Size and Alignment*/
h1 {
    font-size: 6rem;
    text-align: center;
    text-shadow: 2px 2px 10px white;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

p {
    text-align: left;
    font-size: 2rem;
}


/*Header Layout*/
header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 5px 5px 25px white, -5px 0px 25px white;
}

h1 {
    flex: 5;
}

header img{
    display: block;
    height: 120px;
    padding-top: 20.15px;
}


main, header, article, aside, footer {
    background-color: red;
    padding: 1%;
}

nav {
    background-color: pink;
    height: 30px;
    flex: 100%;
    display: flex; 
    padding: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px maroon;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

nav a, nav span {
    display: inline-block;
    line-height: 0.25;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}


/*Main Layout*/
main {
    display: flex;
}

article {
    flex: 4;
    border-style: solid;
    box-shadow: 5px 5px 5px maroon;
}

div {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

aside {
    flex: 3;
    margin-left: 10px;
    padding: 1%;
}

aside a {
    display: block;
    float: left;
    width: 50%;
}

aside img {
    max-width: 100%;
    display: flex;
}

main, footer {
    margin-top: 10px;
    box-shadow: 5px 0px 15px white, -5px 0px 15px white;
}

/*Animations*/
@keyframes colorChange {
    from {background-color: rgba(255,0,0,0);}
    to {background-color: rgba(255,0,0,1);}
}

aside a {
    position: relative;
}

aside a::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0,0);
}

aside a:hover::before {
        animation-name: colorChange;
        animation-duration: 5s;
        animation-fill-mode: forwards;
}